@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin: .5vh;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration:none;
}
body{
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    background-color: #e3e6ed;
}
button{
    width: 350px;
    height:20vh;
    border: none;
    background: #f1ecee;
    border-radius: 10px;
    font-size:xx-large;
}
